body {
 margin:0;
 display: grid;
 place-content: center;
 min-height: 100vh;
 background: linear-gradient(90deg,blue, violet);
}
.video-js{
  width:700px;
  height: auto;
  aspect-ratio:  16 / 9;
  display: block;
  margin:0 auto;

}
/* Change all text and icon colors in the player. */
.vjs-matrix.video-js {
  color: #00ff00 !important;
}

/* Change the border of the big play button. */
.vjs-matrix .vjs-big-play-button {
  border-color: #00ff00;
}

/* Change the color of various "bars". */
.vjs-matrix .vjs-volume-level,
.vjs-matrix .vjs-play-progress,
.vjs-matrix .vjs-slider-bar {
  background: #00ff00;
}